<!DOCTYPE html>
<html>
<head>
    <title>OpenCV REST API</title>
    <!-- Add your CSS and JS files here -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

</head>
<body>
    
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
        <a class="navbar-brand" href="#">OpenCV REST API</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="http://51.20.87.192:8000/opencv/video/">Upload Video</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="http://51.20.87.192:8000/opencv/image/">Upload Image</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="http://51.20.87.192:8000/opencv/extract/">Frame Extraction</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="http://51.20.87.192:8000/opencv/face/">Face Detection</a>
                </li>
                <!-- Add more links for other views here -->
            </ul>

            
        </div>
    </nav>
    <div class="container mt-4">
        <h1>Welcome, {{ user.username }}</h1>
        <h2>Upload Video</h2>
        <form id="upload-form" enctype="multipart/form-data" method="post" action="http://51.20.87.192:8000/opencv/video/">
            <input type="file" name="file">
            {% csrf_token %}
            <select name="user" class="form-control" id="user">
                {% for user in users %}
                    <option value="{{ user.id }}">{{ user.username }}</option>
                {% endfor %}
            </select>
            <input type="submit" id="upload-button" value="Upload Video">
        </form>
        <script>
            // Set the CSRF token as a default header for all AJAX requests
            var csrf_token = document.getElementsByName('csrfmiddlewaretoken')[0].value;
            $.ajaxSetup({
                headers: {
                    'X-CSRFToken': csrf_token
            }
        });
        </script>
    
        <script>
            function uploadVideo() {
                var fileInput = document.querySelector('input[type="file"]');
                var formData = new FormData();
                var uploadButton = document.getElementById('upload-button');
    
                uploadButton.addEventListener('click', function(e) {
                    e.preventDefault();
                    formData.append('file', fileInput.files[0]);
                    formData.append('user', document.getElementById('user').value);
                    $.ajax({
                        type: 'POST',
                        url: 'http://51.20.87.192:8000/opencv/video/',
                        data: formData,
                        processData: false,
                        contentType: false,
                        success: function(response) {
                            console.log('Success:', response);
                            // Do something with the response data here
                        },
                        error: function(xhr, status, error) {
                            console.log('Error:', error);
                            // Handle any errors here
                        }
                    });
                });
            }   
        </script>


        <h1>Upload Image</h1>
        <form id="upload-form" enctype="multipart/form-data" method="post" action="http://51.20.87.192:8000/opencv/image/">
            <input type="file" name="file">
            {% csrf_token %}
            <select name="user" class="form-control" id="user">
                {% for user in users %}
                    <option value="{{ user.id }}">{{ user.username }}</option>
                {% endfor %}
            </select>
            <input type="submit" id="upload-button" value="Upload Image">
        </form>

        <script>
            function uploadImage() {
                var fileInput = document.querySelector('input[type="file"]');
                var formData = new FormData();
                var uploadButton = document.getElementById('upload-button');
        
                uploadButton.addEventListener('click', function(e) {
                    e.preventDefault();
                    formData.append('file', fileInput.files[0]);
                    formData.append('user', document.getElementById('user').value);
                    $.ajax({
                        type: 'POST',
                        url: 'http://51.20.87.192:8000/opencv/image/',
                        data: formData,
                        processData: false,
                        contentType: false,
                        success: function(response) {
                            console.log('Success:', response);
                            // Do something with the response data here
                        },
                        error: function(xhr, status, error) {
                            console.log('Error:', error);
                            // Handle any errors here
                        }
                    });
                });
            }   
        </script>

        <h1>Frame Extraction</h1>
        <form enctype="multipart/form-data" method="post" id="extract-form">
            {% csrf_token %}
            <input type="text" placeholder="Enter video_id" name="video_id" id="video_id">
            <input type="submit" id="extract-frame" value="Extract Frame">
        </form>

        <script>
            $(document).ready(function() {
                // Make an AJAX call to get all videos
                $.ajax({
                    type: 'GET',
                    url: 'http://51.20.87.192:8000/opencv/video/',
                    success: function(response) {
                        console.log('Success:', response);
                        // Populate the dropdown with videos
                        $.each(response, function(index, video) {
                            $('#video').append('<option value="' + video_id + '">' + video.file + '</option>');
                        });
                    },
                    error: function(xhr, status, error) {
                        console.log('Error:', error);
                        // Handle any errors here
                    }
                });
            });

            $('#extract-form').on('submit', function(event) {
                event.preventDefault();
                var form = $(this);
                var videoId = $('#video_id').val();
                $('#video_id').val(videoId);
                $.ajax({
                    type: 'POST',
                    url: 'http://51.20.87.192:8000/opencv/extract/',
                    data: form.serialize(), // Pass the selected video ID in the AJAX call data
                    success: function(response) {
                        console.log('Success:', response);
                        // Do something with the response data here
                    },
                    error: function(xhr, status, error) {
                        console.log('Error:', error);
                        // Handle any errors here
                    }
                });
            });
        </script>
        <h1>Face Detection</h1>
        <form enctype="multipart/form-data" method="post" action="http://51.20.87.192:8000/opencv/face/">
        </form>
    </div>
    
    </body>